:root {
    --textfont: #ffffff;
}

.banner {
    background: linear-gradient(#6610f2, #b180ff);
    color: var(--textfont);
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
}

.flex {
    display: flex;
    flex-direction: row;
}

.five-day-summary {
    background: #6610f2;
    color: var(--textfont);
}

.summary {
    border: 2px solid black;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-right: 10px;
    margin-left: 10px;
}

aside {
    display: flex;
    flex-flow: column nowrap;
    width: 20%;
    margin: 10px;
}

label {
    font-size: 28px;
    font-weight: 600;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
}

form {
    padding-bottom: 10px;
    border-bottom: solid 5px black;
}

.header-container {
    font-size: 36px;
    margin-bottom: -30px;
}

.summary {
    padding-left: 5px;
}

h2,
h4 {
    margin-bottom: 0px;
}

.forecast {
    margin-top: 30px;
}

/* p {
    padding: 0px;
} */